<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yang.demo2.mapper.UserMapper">

    <select id="queryByUsername" resultType="com.yang.demo2.entity.User">
        select * FROM t_user where username = #{username}
    </select>

    <insert id="add" parameterType="com.yang.demo2.entity.User" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        insert into t_user(username, password) value(#{username}, #{password})
    </insert>
</mapper>